
#periodicStateBlinker{
  visibility: hidden;
}

.switch-warning label input[type=checkbox]:checked+.lever:after {
  background-color: #FF8800;
}

.form-range::-webkit-slider-thumb {
  background: #ffc107;
}

.form-range::-moz-range-thumb {
  background: #ffc107;
}

.form-range::-ms-thumb {
  background: #ffc107;
}



* {
  padding: 0;
  margin: 0;
}

a.gol:link {
  color: #ffc107;
  background-color: transparent;
  text-decoration: none;
}

a.gol:visited {
  color: #ffc107;
  background-color: transparent;
  text-decoration: none;
}

a.gol:hover {
  color: #ffc107;
  background-color: transparent;
  text-decoration: underline;
}

a.gol:active {
  color: #ffc107;
  background-color: transparent;
  text-decoration: underline;
}

canvas {
  background: #ffffff;
  display: block;
  margin: 0 auto;
}

.btn-sm {
    padding: .5px 3px;
    font-size: 10px;
    border-radius: 2px;
}

.btn:hover {
    background-color: inherit;
    color: #ffc107;
}
